body {
  margin: 0;
  height: 100%;
  max-height: 100vh;
  display: flex;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

html {
  font-size: 100%;

  @include respond(phone) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 89.5%;
  }

  @include respond(tab-port) {
    font-size: 91.5%;
  }

  @include respond(big-desktops) {
    font-size: 110%;
  }
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  flex: 1;
  margin: 0;

  @include respond(phone) {
    min-height: -webkit-fill-available;
    max-height: auto;
  }

  &.select-depart-date {
    background-color: rgb(119, 188, 32);
  }
}
