.responsive-image {
  max-width: 75%;
  height: auto;

  @include respond(phone){
    max-width: 50%;
    height: auto;
  }
}

.small-responsive-image {
  width: 50%;
  height: auto;

  @include respond(phone){
    max-width: 50%;
    height: auto;
  }
}
