.journey-type-picker {
  display: flex;
  flex-direction: row;

  &__selector {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    &__title {
      color: white;
      font-size: 1.5rem;
    }

    &__button {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: solid 0.2rem white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 0.4rem;

      &__dot {
        opacity: 0;
        transition: 0.6s;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        background-color: white;

        &--active, &:hover {
          opacity: 1;
        }
      }
    }
  }

}
