.passenger-picker {
  display: flex;
  flex-direction: row;
  color: white;
  min-width: 200px;

  @include respond(phone){
    padding-top: 1rem;
    min-width: 70vw;
  }

  &__buttons {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__icon {
      margin: 5px;
      background-color: $passengers-background;
      font-size: 20px;
      width: 20px;
      text-align: center;
      color: white;
      transition: 0.4s;
      cursor: pointer;

      @include respond(phone){
        font-size: 30px;
      }

      &:hover {
        color: $color-tertiary-light;
      }

      &.inactive {
        color: lightgrey;
      }
    }
  }

  &__info {
    display: flex;
    flex: 2;
    flex-direction: column;

    &__description {
      width: auto;
      white-space: nowrap;
    }
  }

}
