.privacy-legal-page {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: rgb(117, 68, 160);
  justify-content: flex-start;
  text-align: left;

  * {
    margin-bottom: 1rem;
  }
}
