.terms-and-conditions-page {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: rgb(253, 185, 19);
  justify-content: flex-start;
  text-align: left;

  * {
    margin-bottom: 1rem;
  }
}
